body {
    margin: 0;
    padding: 0;
 }


.container-navbar {
    display: flex;
    justify-content: center;
    
}

.navbar-header {
    padding: 15px;
    margin-left: 1%;
}

.container-header
{
    display: flex;   
    background-color: #EFEFEF;
}

.navbar {

    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2%;
}


.nav {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.nav li {
    display: inline-block;    
    font-size: 1.4em !important;
    margin: 0 0.5em;
}

.nav a {
    text-decoration: none;
    display: block;
    font-family:Arial;
    position: relative;
    color: black;
    padding: 0 0 !important;
}

.nav a:hover {
    color: #c69f73;
}
  
.nav a:hover:before {
    left: 0;
    width: 100%;
}

.nav a:before {
    content: "";
    position: absolute;
    width: 0;
    height: .5px;
    background-color: #c69f73;
    bottom: calc(-1px);
    right: 0;
    transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}


.logo-image {

    width: 46px;
    height: 46px;         
    
    background-size: cover ;
    margin-left: 10%;

}