<head>
    <meta charset="utf-8">        
</head>
<link href="./navbar.component.css" rel="stylesheet">
<body>
    <div class="container-header">
        <div class=navbar-header>
            <a class="navbar-brand" href="/">
                <div class="logo-image">                   
                </div>
            </a>
        </div>
        <div class="navbar" role="navigation">
            <div class="container-navbar">                
                <ul class="nav">
                <li><a href="/overview">Courses</a></li>
                <li><a href="/events">Students</a></li>
                <li><a href="/sightseeing">Sightseeing</a></li>
                <li><a href="/food">Food</a></li>
                <li><a href="/planner">Planner</a></li>
                </ul>
            </div>
        </div>
    </div>
<div class="content">